* {
  margin: 0;
  padding: 0;
}

.color-container {
  display: flex;
}

.color-div {
  height: 200px;
  width: 20%;
}

#colorOne {
  background-color: blue;
}

#colorTwo {
  background-color: red;
}

#colorThree {
  background-color: purple;
}

#colorFour {
  background-color: magenta;
}

#colorFive {
  background-color: yellow;
}