* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #E8E8EE;
  background-color: #919195;
  background-color: #3A3A3B;

  color: white;
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 60px;
  margin-top: 20px;
  letter-spacing: 2px;
  text-align: center;
}

main {
  display: flex;
  width 100%;
}

.color-container {
  display: flex;
  width: 1300px;
}

.color-div {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  width: 20%;
}

.hex-code {
  align-self: center;
  font-size: 35px;
  letter-spacing: 2px;
  opacity: 0.5;
  margin-bottom: 40px;
}

.color-div:hover {
  cursor: pointer;
}

.color-div:hover .icon {
  display: block;
}

.icon {
  align-self: center;
  background-image: url('../assets/unlock.png');
  background-size: cover;
  display: none;
  height: 35px;
  margin-bottom: 100px;
  width: 35px;
}

.locked .icon {
  background-image: url('../assets/lock.png');
  background-size: cover;
  display: block;
}

.instructions {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

#btn {
  background-color: lightgray;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}

.projects-container {
  background-color: #F6F6F9;
  height: calc(100vh - 140px);
  padding: 10px;
  margin-top: 120px;
  overflow: scroll;
  width: 300px;
}

.save-palette {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}

.display-projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

select,
input,
button,
span {
  font-size: 20px;
  padding: 2px;
}

.dark {
  color: white;
}

.square-holder {
  align-self: center;
  display: flex;
  height: 30px;
  width: 250px;
}

.delete-btn {
  margin-bottom: 10px;
}

.project-square {
  background-color: red;
  height: 30px;
  width: 20%;
}

.saved-palette {
  position: relative;
  margin-bottom: 20px;
}

h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.delete-btn {
  font-size: 16px;
  position: absolute;
  top: -3px;
  right: 0;
}